.about {
    display: flex;
    flex-direction: column;
    background-color: #d7d7d7;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

.about1 {
    min-width: 200px;
    height: 60px;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin-top: 20px;
    position: relative;
    max-width: 570px;
    padding: 2em;
    text-align: justify;
}

.reparate {
    position: relative;
    margin-top: 2em;
}

.details {
    position: relative;
    width: 950px;
    max-width: 1046px;
    height: 350px;
    margin: 3em 0;
    text-align: justify;
}

.spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 48%;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 48%;
    right: 0;
    text-align: justify;
}

.maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 48%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: justify;
}

@media only screen and (max-width: 1046px) {
    .about {
        height: 100%;
    }

    .details {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 570px;
        width: 100%;
        height: 33em;
        min-height: 20em;
        padding: 1em;
    }

    .spec {
        position: static;
        width: 100%;
        text-align: justify;
    }

    .dev {
        position: static;
        width: 100%;
        text-align: justify;
    }

    .maintenance {
        position: static;
        transform: none;
        width: 100%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
}
