.about {
    display: flex;
    flex-direction: column;
    background-color: #d7d7d7;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    /* border: 1px solid red; */
}

.about1 {
    min-width: 200px;
    height: 60px;
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin-top: 50px;
    position: relative;
    max-width: 570px;
    padding: 2em;
    text-align: justify;
}

.reparate {
    position: relative;
    margin-top: 3em;
}

.details {
    position: relative;
    width: 950px;
    max-width: 1046px;
    height: 233px;
    margin-top: 3em;
    text-align: justify;
}

.spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 50%;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 50%;
    right: 0;
    text-align: justify;
}

.maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 50%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 400px;
    text-align: justify;
}

@media only screen and (max-width: 1046px) {
    .details {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        max-width: 570px;
        width: 100%;
        min-height: 230px;
    }

    .spec {
        position: static;
        width: 100%;
        text-align: center;
    }

    .dev {
        position: static;
        width: 100%;
        text-align: center;
    }

    .maintenance {
        position: static;
        width: 100%;
        bottom: 0%;
        left: 0;
        transform: translate(0%, 0%);
        text-align: center;
    }
}
