.nav {
    display: flex;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: bold;
    margin: 0em 2em;
    white-space: nowrap;
    position: relative;
    top: 0;
}

.isOpen {
    display: flex;
}

@media only screen and (max-width: 1046px) {
    .nav {
        display: none;
    }

    .isOpen {
        display: flex;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.8);
        top: 5.1em;
        left: 0em;
        width: 100%;
        margin: auto;
        z-index: 1000;
        transition: all 0.5s ease-out;
        border-top: 3px solid rgb(133, 133, 133);
    }
}
