.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* z-index: 1000; */
}

.logo {
    position: relative;
    color: #000;
    margin: 2em;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.buttun {
    display: none;
}

.isOpen {
    display: none;
}

@media only screen and (max-width: 1046px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }

    .logo {
        color: #fff;
    }

    .buttun {
        display: flex;
    }

    .isOpen {
        display: flex;
        margin: 0 2em;
    }
}
