.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border: 1px solid red;
}

.logo {
    position: relative;
    color: #000;
    margin: 2em;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.buttun {
    display: none;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1046px) {
    .buttun {
        display: flex;
    }

    .hidden {
        display: flex;
        margin: 0em 2em;
    }
}
