li {
    list-style-type: none;
    margin: auto;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
