li {
    list-style-type: none;
    margin: auto;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
}

.active {
    /* Style quand l'élément est actif */
    text-decoration: underline;
    font-weight: bold;
    color: #ff5733; /* Exemple de couleur */
}
