* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background: #d7d7d7; */
    /* background: linear-gradient(45deg, #ff5733 50%, #33c1ff 50%); */
}

body {
    height: 100vh;
    background-image: linear-gradient(-80deg, #000000 50%, #d7d7d7 50.1%);
}
