.container {
    padding: 2em;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.home {
    margin: 0.5em;
    background-color: transparent;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1%;
    padding: 0%;
}

.email {
    font-size: 1.5em;
    margin: 0.5em;
}

.tel {
    font-size: 1.5em;
    margin: 0.5em;
}

.Linka {
    display: flex;
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 0;
    border-radius: 0%;
}

.Linka:hover {
    border-radius: 0%;
}

.backToUpA {
    background-color: transparent;
    border-radius: 0%;
}
.backToUpA:hover {
    background-color: transparent;
    border-radius: 0%;
}
.backToUp {
    transform: scale(1);
    width: 2em;
    border-radius: 0%;
}

.backToUp:hover {
    transform: translate(0%, -50%);
    transition-duration: 0.8s;
    transition-timing-function: linear;
    border-radius: 0%;
}
