.container {
    padding: 2em;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.home {
    margin: 0.5em;
}
.socialLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    /* border: 1px solid red; */
    /* width: 400px; */
    gap: 3em;
}

.email {
    margin: 0.5em;
}

.tel {
    margin: 0.5em;
}

.backToUp {
    transform: scale(1);
    animation-name: slidein;
}

.backToUp:hover {
    transform: scaleY(1.5);
    transition-duration: 0.8s;
    transition-timing-function: linear;
    animation-name: slidein;
}

.Link {
    display: flex;
    width: 3em;
    /* border: 1px solid green; */
    /* margin-right: 1em; */
}
